<div class="row justify-content-md-center">
            <div class="col-md-auto">
                <h1>MongoDB-NodeJS</h1>
            </div>
        </div>
        
<div class="row justify-content-md-center">
  <div class="d-flex justify-content-center">
    <div class="col-6">
      <img
        class="text-center"
        src="360_F_367357209_BG07SVnnB4HSHSaMiHajfZhrZZAE859A.jpg"
        alt="Welcome Image"
        style="width:90%;"
      />
    </div>

    <div class="col-6">
      <div class="card border-info mb-3" style="max-width: 30rem;margin: 15rem 10rem;">
        <div class="card-header">Add Subject Info</div>
        <div class="card-body">
            <p class="card-text">
              Click below button fill your subject details.
          </p>
          <h4 class="card-title">
            <a class="btn btn-info" href="/subject-form">Add Subject</a>
          </h4>
          
        </div>
      </div>
    </div>
  </div>

</div>