<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2><%= title %></h2>
  <form action="/save" method="post">
    <div class="form-group">
      <label for="cid">Course id:</label>
      <input type="text" class="form-control" id="cid" placeholder="Enter Course id" name="cid" required>
    </div>
    <div class="form-group">
      <label for="cname">Course name:</label>
      <input type="text" class="form-control" id="cname" placeholder="Enter Course name" name="cname" required>
    </div>
    <div class="form-group">
      <label for="dname">department name:</label>
      <input type="text" class="form-control" id="dname" placeholder="Enter department name" name="dname" required>
    </div>
    <div class="form-group">
      <label for="iname">Institute name:</label>
      <input type="text" class="form-control" id="iname" placeholder="Enter Institute name" name="iname" required>
    </div>
    <div class="form-group">
      <label for="uname">University name:</label>
      <input type="text" class="form-control" id="uname" placeholder="Enter University name" name="uname" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

</body>
</html>